/* - Font used: Lato
 - Author text color: #ef5839
 - Bold font weight: 900 */

 body {
   font-family: 'Lato', sans-serif;
 }

 /* Typography */

 .author, .date {
   color:  #ef5839;
   font-weight: 900;
 }


 /* Layout */

 .main {
   width: 700px;
   margin: 0 auto;
 }

 img {
   width: 550px;
   height: 550px;
   margin-bottom: 60px;
 }

 .title {
   margin-bottom: 30px;
 }

 .meta {
   margin-bottom: 60px;
 }

 .post p {
   margin-bottom: 50px;
 }